*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* hanh dong cuon trang */
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* xoa dau ơ dau cua the ul li */
#theul ,.subnav{
    list-style-type: none;
}
/* Common */
.clear{
    clear: both;
}
/* đoạn code này dùng kkhi có đoạn văn bản muốn thành màu trắng độ ƯT số 1  */
.text-white{
    color: white !important;

}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.mt8{
    margin-top: 8px;
}
.mt16{
    margin-top: 16px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col1{
    width: 100%;
}

.col3{
    width: 33.333333%;
}

.col2{
    width: 50%;
}

.col4{
    width: 25%;
    font-weight: 600;
}

.text-center{
    text-align: center !important;
}

.btn{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 16px;
    border: none;
    text-align: center;
}

.btn:hover{
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.benphai{
    float: right;
}

/* main */
#main{

}


#theul{
    display: inline-block;
}

#theul > li:hover > a,
#theul .subnav li:hover a{
    background-color: #e1dddd;
    color: black;
    width: 100%;
}

#header {
    height: 46px;
    background-color: black;
    /* cách để thanh header bám trên thanh trình duyệt */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* cho header nổi lên kiểu trục xyZ */
    z-index: 1;
}

#theul li{
    display: inline-block; /*du lieu thanh 1 khoi ve 1 dong*/
    position: relative;
}

/* tac dong vao the a truc tiep cua the li */
#theul > li > a {    
    color: aliceblue; 
    text-transform: uppercase;
} 

/* tac dong khong can truc tiep */
#theul li a {
    text-decoration: none; /*bo gach chan*/
    line-height: 46px; /*can giua chieu cao*/
    padding: 0 24px;
    display: inline-block;
}

#theul > li:hover > .subnav {
    display: block;
}

#theul .subnav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.256);
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: aliceblue;
}

#theul .nav-ar{
    font-size: 14px;
}

#theul .subnav a{
    color: black;
    padding: 0 12px;
}

#header .mobile-menu-btn{
    float: right;
    padding: 0 21px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .search{
    float: right;
}

#header .menu-icon,
#header .search-icon{
    color: white;
    line-height: 46px;
    padding: 0 21px;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .search-icon:hover{
    background-color: red;
    display: inline-block;
    cursor: pointer;
}

#slider{
    position: relative;
    margin-top: 46px;
    /* se la 50% chieu ngang cua chinh nó */
    padding-top: 50%;
    /* chinh anh */
    background: url("https://media.vov.vn/sites/default/files/styles/large/public/2022-05/r1364blackpink-opener.jpg") top center / cover no-repeat;
}

#slider .text-content{
   color: rgb(255, 255, 255);
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    /* giảm độ dày của chữ */
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

#slider .text-noidung{
    font-size: 15px;
    font-weight: 250;
}

#content .content-section{
    padding: 64px 0 112px;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    /* can giữa là center */
    text-align: center;
    font-weight: 500;
    /* khoảng cách giữa các chữ cái */
    letter-spacing: 4px;
}

#content .section-noidung{
    /* can giữa là center */
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    /* làm mờ chữ */
    opacity: 0.6;
}

.noidung1{
    margin-top: 25px;
    text-align: justify;
    /* Khoảng cách giữa các dòng chữ */
    line-height: 1.4;
}

#content .member-list{
    margin-top: 32px;

}

#content .member-ten1{
    font-size: 15px;
    text-align: center;
}

#content .member-img1{
    margin-top: 15px;
    width: 154px;
    height: 200px;
    /* bo tròn ảnh */
    border-radius: 4px;
}

.tour-section{
    background-color: black;
}

.tickets-list{
    background-color: white;
    margin-top: 40px;
    font-size: 15px;
}

.tickets-list li{
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    /* bỏ dấu chấm đầu dòng code */
    list-style-type: none;
}

.tickets-list .sold-out{
    color: white;
    background-color: red;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .soluong{
    float: right;
    width: 24px;
    height: 24px;
    color: white;
    background-color: black;
    /* tạo hình tròn */
    border-radius: 50%;
    /* chữ căn giữa chiều ngang */
    text-align: center;
    /* căn theo chiều dọc */
    line-height: 24px;
    margin-top: -3px;
}

.places-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;
    /* bị khoảng cách ở ảnh */
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    padding: 16px;
    background-color: white;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
}

.place-time{
    color: #757575;
    margin-top: 15px;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #32313198;
    display: none;
    /* căn giữa chiều cao thẻ cha */
    align-items: center; 
    /* căn giữa bề ngang thẻ cha */
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    /* chieu ngang toi thieu */
    min-height: 200px;
    position: relative;
    max-width: calc(100%-32px);
    /* lam chuyen dong trôi xuống */
    animation: modalFadeIn ease 0.6s;

}

.modal-header{
    background: #c83a13;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    cursor: pointer;
    padding: 12px;
}

.modal-body{
    padding: 16px;
}

.modal-laber{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px sold #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;

}

#buy-tickets:hover{
    opacity: 0.9;
}

#buy-tickets{
    background: #c83a13;
    border: none;
    width: 100%;
    font-size: 12px;
    color: #fff;
    padding: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;

}

.contact-info a{
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover{
    color: #101aef;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
} 

.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.socials-list{
    font-size: 24px;
}
.socials-list a{
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
}
.copysright a:hover,
.socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

.copysright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.65);
}

.copysright a{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.65);
}
/* chuyển động trôi xuống  */
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);

    }
}
